#wall .tag-1 {
   display: none;
 }
 .tag-2 {
   display: none;
 }
 .tag-3 {
   display: none;
 }
 .tag-4 {
   display: none;
 }
 .tag-5 {
   display: none;
 }
 .tag-6 {
   display: none;
 }
 .tag-7 {
   display: none;
 }
 .tag-8 {
   display: none;
 }
 .tag-9 {
   display: none;
 }
 .tag-10 {
   display: none;
 }
 .tag-11 {
   display: none;
 }